# 忽略 data 目录下的 db.json 
data/db.json

# 忽略所有 *.log 文件
*.log

# 忽略 node_modules
node_modules/

# 忽略所有开发环境配置文件
.env

# 忽略 Mac OS 系统文件
.DS_store

# Visual Studio Code
.vscode/

# IntelliJ IDEA 
.idea/
*.iml